<h2>Create New Figure</h2>


<form class="" action="/landmarks" method="post">
  Figure name
  <input type="text" name="figure[name]" id="figure_name">
  <br>

  Landmark name
  <input type="text" name="landmark[name]" id="landmark_name">
  <br>

  Landmark year
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>


  New Title
  <input type="text" name="title[name]" id="new_title">
  <br>

  New Figure
  <input type="text" name="figure[name]" id="new_figure">
  <br>

  Titles
  <% Title.all.each do |t| %>
    <input type="checkbox" name="landmark[title_ids][<%= t.id %>]" id="title_<%= t.id %>"> <%= t.name %>
    <br>
  <% end %>
  <br>

  Figures
  <% Figure.all.each do |l| %>
    <input type="checkbox" name="landmark[figure_ids][<%= l.id %>]" id="figure_<%= l.id %>"> <%= l.name %>
    <br>
  <% end %>
  <br>


  <input type="submit" name="" value="Create New Landmark">
</form>


<a class="button" href="/landmarks">Figures</a>
<a class="button" href="/">Home</a>
